.headeredu {
  height: 70vh !important;
  align-items: center;
  text-align: center;
  /* position: relative; */
  background-color: #228b22;
  color: white;
  background: no-repeat center/cover;
}

/* .headeredu::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5) 0,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.1) 100%
  );
  z-index: -1;
} */

/* .headeredu .container-fluid {
  z-index: 99 !important;
} */

.headeredu h1 {
  padding-top: 5%;
  margin-bottom: 1%;
}

.imgheaderedu {
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 5%; */
}

@media (max-width: 500px) {
  .imgheaderedu {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 5%; */
  }

  .headerisiedu {
    padding-top: 30%;
  }

  .headerisiedu h1 {
    font-size: 30px;
  }

  .kategori button {
    margin: 5px 0;
  }

  .cardkonten {
    margin: 0 20px;
  }
}

.imgheaderedu img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.isiedu h5 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.kategori button {
  margin-right: 20px;
  border-radius: 20px;
  width: 130px;
  background-color: #228b22;
  color: white;
  border-style: none;
  padding-top: 2px;
  padding-bottom: 2px;
}
.cardkonten h1 {
  margin-top: 20px;
  text-align: center;
}

.article {
  text-align: center;
  padding-top: 20px;
}

.article-header .article-image {
  border-radius: 12px;
}

.article-image img {
  width: 100%;
}

#image-utama {
  border-radius: 0;
}
.article-details {
  background-color: transparent !important;
  padding: 20px 20px 3px 20px !important;
}

#box-article {
  border-radius: 12px;
  -webkit-box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.75);
  transition: 300ms ease-in-out;
}

#box-article:hover {
  transform: scale(0.95);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.75);
}

.tombol {
  margin-bottom: 20px;
}
